<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Generate Playlists</title>
    
    <link rel="stylesheet" type="text/css" href="../static/main2.css">
    
    <!--Stylesheet-->
    
</head>
<body>
    <h1 style="color:aliceblue">{{ prediction }}</h1>
    <!-- <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div> -->
    <div class="container">
    <form method="POST" action="">
        <h3 style="color:1DB954;">Generate Playlists</h3>
        {% block content %}
        {{ form.hidden_tag() }}
        <fieldset >
            <div>
                {{ form.playlist_id1.label(class="form-control-label") }}
                
                {% if form.playlist_id1.errors %}
                {{ form.playlist_id1() }}
                <div>
                    {% for error in form.playlist_id1.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.playlist_id1() }}
                {% endif %}
            </div>
            <div>
                {{ form.playlist_id2.label(class="form-control-label") }}
                
                {% if form.playlist_id2.errors %}
                {{ form.playlist_id2() }}
                <div>
                    {% for error in form.playlist_id2.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.playlist_id2() }}
                {% endif %}
            </div>
            <div>
                {{ form.playlist_name.label(class="form-control-label") }}
                
                {% if form.playlist_name.errors %}
                {{ form.playlist_name() }}
                <div>
                    {% for error in form.playlist_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.playlist_name() }}
                {% endif %}
            </div>
            <div>
                {{ form.playlist_description.label(class="form-control-label") }}
                
                {% if form.playlist_description.errors %}
                {{ form.playlist_description() }}
                <div>
                    {% for error in form.playlist_description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.playlist_description() }}
                {% endif %}
            </div>
            <!--
                <div>
                {{ form.playlist_public() }}
                {{ form.playlist_public.label() }}
                </div>
            -->
            
            
        </fieldset>
        {% endblock content %}
        <button>Generate</button>
        <p style="padding-top: 10px">* Generated playlists will be private</p>
        <p>** Reloading the site may cause the same playlist to be generated every time.</p>
    </form>
</div>
    <!-- Optional JavaScript -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<!-- <div>
    {% if searchboolean %}
    <div>
        <form method="POST" action="" class="search">
            <h3 style="color:1DB954;">Search</h3>
            {{ searchform.hidden_tag() }}
            <fieldset >
                <div>
                    {{ searchform.search.label(class="form-control-label") }}

                    {% if searchform.search.errors %}
                        {{ searchform.search() }}
                        <div>
                            {% for error in searchform.search.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ searchform.search() }}
                    {% endif %}
                    </div>
                </fieldset>
            <button>
                Enter
            </button>
        </form>
        {% for tracklink, id, name, artist in tracks %}
        <div class="search_results">
            <a href="https://open.spotify.com/track/{{ id }}"+ target="blank">{{ name }}</a>
            <p>{{ artist }}</p>
            <a href="{{ url_for('add', track_add=id) }}">Add</a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div> -->

</body>
</html>
