<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Designlzy by foolishdeveloper.com -->
        <title>Get Playlist</title>
        
        <link rel="stylesheet" type="text/css" href="../static/main2.css">
        
        <!--Stylesheet-->
        
    </head>
    <body style="background-color:#000000">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="container" >
        <form method="POST" action="" class="search">
            <h3 style="color:1DB954;">Add Track</h3>
            {{ form.hidden_tag() }}
            <fieldset >
                <div class="inform">
                    {{ form.search.label(class="form-control-label") }}
                    
                    {% if form.search.errors %}
                    {{ form.search() }}
                    <div>
                        {% for error in form.search.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.search() }}
                    {% endif %}
                </div>
            </fieldset>
            <button class="test">
                Enter
            </button>
        </form>
    </div>
    <div class="container">
        <p style="width: 400px;font-size: 10px;color: #68d4d4;">*Sometimes the playlists emebedding won't appear. This is a limitation from Spotify emebddings. Try reloading the page if you want to see the unavailable embeddings</p>
    </div>
    {% if searchBoolean == 1 %}
        <div class="container">
            {% for tracklink, id, name, artist, a, b in tracks %}
            <div class="card">
                <div class="card__body">
                    <div class="search_results">
                        <iframe style="border-radius:12px; height:80px;width:250px" src="https://open.spotify.com/embed/track/{{ id }}" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        <p><a class='song' href="https://open.spotify.com/track/{{ id }}"+ target="blank">{{ name }}</a></p>
                        <p class='artist'>{{ artist }}</p>
                        {% for i in a %}
                            {% for j in b %}
                                <p style="font-size: 32;"><a href="{{ url_for('add', playlist_id=i[loop.index-1], track_add=id) }}" style="font-size:32;">Add in {{ j }}</a></p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="container">
            {% for id in ids %}
            <div class="card" style="width:500px; padding-top:30px; padding-bottom:30px; padding-left: 10px;">
                <div class="card__body">
                <div>
                    <iframe style="border-radius:12px; width:450px" src="https://open.spotify.com/embed/playlist/{{id}}" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    </body>
    </html>