<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Buddy Playlist Generator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <div style="color: rgb(104, 236, 56);width: auto;"class="container flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
<div class="container center">
    <nav style="background-color :#000000; font-size:14px;">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <!-- Mobile menu button-->
                </div>
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex-shrink-0 flex items-center">
                        <img class="hidden lg:block h-8 w-auto" src="../static/logo/playlist generator.svg" alt="Workflow">
                    </div>
                    <div class="hidden sm:block sm:ml-6">
                        {% if token %}
                            <div style="padding: 10px;"class="flex space-x-4">
                                <a style="font-size:17px" href="{{ url_for('home') }}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Buddy Playlist Generator</a>
                                
                                <a style="font-size:17px" href="{{ url_for('about') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About</a>
                                
                                <a style="font-size:17px" href="{{ url_for('generateplaylist') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Generate Playlist</a>
                                <a style="font-size:17px" href="{{url_for('getplaylist')}}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Get Playlists</a>
                                <a style="font-size:17px" href="https://spotifybuddyclassifier.herokuapp.com/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" target="blank">Buddy Classifier</a>
                                <a style="font-size:17px" href="{{ url_for('spotifyaccount') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Account</a>
                                <a style="font-size:17px" href="{{ url_for('spotifylogout') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</a>
                                <img class="h-8 w-8 rounded-full " src="{{ img }}" alt="">
                                </div>
                            </div>
                        {% else %}
                            {% if current_user.is_authenticated %}
                                <div class="flex space-x-4">
                                    <a style="font-size:17px" href="{{ url_for('home') }}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Buddy Playlist Generator</a>
                                    
                                    <a style="font-size:17px" href="{{ url_for('about') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About</a>
                                    
                                    <a style="font-size:17px" href="{{ url_for('generateplaylist') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Generate Playlist</a>
                                    
                                    <a style="font-size:17px" href="https://spotifybuddyclassifier.herokuapp.com/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" target="blank">Buddy Classifier</a>
                                    <a style="font-size:17px" href="{{ url_for('account') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Account</a>
                                    <a style="font-size:17px" href="{{ url_for('logout') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</a>
                                </div>
                            {% else %}
                                <div class="flex space-x-4">
                                    <a style="font-size:17px" href="{{ url_for('home') }}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Buddy Playlist Generator</a>
                                    
                                    <a style="font-size:17px" href="{{ url_for('about') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About</a>
                                    
                                    <a style="font-size:17px" href="{{ url_for('generateplaylist') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Generate Playlist</a>
                                    
                                    <a style="font-size:17px" href="https://spotifybuddyclassifier.herokuapp.com/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Buddy Classifier</a>
                                    <!-- <a style="font-size:17px" href="{{ url_for('login') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login</a>
                                    <a style="font-size:17px" href="{{ url_for('register') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Register</a> -->
                                    <a style="font-size:17px" href="{{ url_for('authorize') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Spotify Login</a>
                                    <div class="ml-3 relative">
                                        <div>
                                            <button type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                                <span class="sr-only">Open user menu</span>
                                                <img class="h-8 w-8 rounded-full" src="{{ img }}" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        
                    </div>
                </div>
                <!-- <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <button type="button" class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                        <span class="sr-only">View notifications</span>
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                        </svg>
                    </button> -->
                    
                    <!-- Profile dropdown -->  
                    
                    
                        
                        <!--
                            Dropdown menu, show/hide based on menu state.
                            
                            Entering: "transition ease-out duration-100"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                            Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                        -->
                        
                </div>
            </div>
        </div>
        
    </nav>
    <!-- Mobile menu, show/hide based on menu state. -->
    <div style="margin-top: 0; max-width: 500px;" class="container center">
        <img class="image" src="../static/logo/playlist generator.svg" alt="Workflow">
    </div>
    <div style="color:#1DB954;max-width: 700px;"class="container center">
        <ul>
            <p style="margin-bottom: 10px;">Ever Partying with your friends and wondering what songs will make everyone groove? Ever going on a road trip and wondering what music will make everyone enjoy the journey? </p>
            <p style="margin-bottom: 10px;">Well worry no more! </p>
            <p style="margin-bottom: 10px;">Introducing the Buddy Playlist Generator. </p>
            <p style="margin-bottom: 10px;">This Recommendation system will use your playlist and your friend’s playlist and combine them to make the perfect curated playlist consisting of songs that cater to the tastes of both you and your friend.</p>
        </ul>
    </div>
        <div class="sm:hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1">
                {% if token %}
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a style="font-size:17px" href="{{ url_for('about') }}" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">About</a>
                
                <a style="font-size:17px" href="{{ url_for('generateplaylist') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Generate Playlist</a>
                
                <a style="font-size:17px" href="https://spotifybuddyclassifier.herokuapp.com/" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Buddy Classifier</a>
                
                <a style="font-size:17px" href="{{ url_for('spotifyaccount') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Account</a>
                <a style="font-size:17px" href="{{ url_for('spotifylogout') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Logout</a>
                <div class="ml-3 relative">
                    <div>
                        <button type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <span class="sr-only">Open user menu</span>
                            <img class="h-8 w-8 rounded-full" src="{{ img }}" alt="">
                        </button>
                    </div>
                </div>
                <!-- <div class="ml-3 relative">
                    <div>
                        <button type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <span class="sr-only">Open user menu</span>
                            <img class="h-8 w-8 rounded-full" src="{{ img }}" alt="">
                        </button>
                    </div>
                </div> -->
                {% else %}
                <a style="font-size:17px" href="{{ url_for('about') }}" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">About</a>
                
                <a style="font-size:17px" href="{{ url_for('generateplaylist') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Generate Playlist</a>
                
                <a style="font-size:17px" href="https://spotifybuddyclassifier.herokuapp.com/" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Buddy Classifier</a>
                
                <a style="font-size:17px" href="{{ url_for('authorize') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Spotify Login</a>
                {% endif %}
                
            </div>
        </div>
</div>

</body>
</html>

